<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="!user">
  <button (click)="login()">Login</button>

</div>
<div *ngIf="user">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="latitude">
    <input type="text" formControlName="longitude">
    <button type="submit">маркер</button>
    <button (click)="logout()">logout</button>
  </form>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

</div>
